body{
    margin: 0;
}

.site-header{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.7)),url(img/entrance.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
   -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.shop-name{
    margin-top: 0;
    color: bisque;
    text-align: center;
    font-size: 40px;
    font-family:  "Hachi Maru Pop", cursive;
}

.site-nav{
display: flex;
gap: 40px;
justify-content: center;
flex-wrap: wrap;
color: antiquewhite;
list-style:none;
padding: 0;
}

.nav-link{
    text-decoration: none;
    color: antiquewhite;
}

.hero{
    background-color: white;
    font-family:  "Zen Maru Gothic", sans-serif;
}

.rogo{
    width: 400px;
    height: auto;
   display: block;
   margin: 0 auto;
   margin-top: 300px;
}



.Store-interior{
max-width: 1300px;
margin: 0 auto;
padding: 40px;
border: 4px solid #d9c97a;
position: relative;
margin-top: 300px;

}

.lead-center{
    text-align: center;
    position: relative;
    top: 180px;
    font-size: 30px;
    font-family: "Zen Maru Gothic", sans-serif;
}

.reservation{
    text-align: center;
    position: relative;
    top: 260px;
    text-decoration: none;
    color: antiquewhite;
}

.Operating-hours{
    text-align: center;
    font-size: 29px;
    margin-top: 180px;
    font-weight: bold;
}

.heads-up{
    text-align: center;
    font-size: large;
    margin-top: 65px;
}

.reservation a{
    color: brown;
    font-size: 25px;
}

.Store-interior-content{
 text-align: center;

}

.Store-interior-title{
    position: absolute;
    top: -77px;
    left: -4px;
    background: #d8cd8a;
    padding: 12px 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 20px 0 0;
    color: saddlebrown;

}

.interior{
    width: 1200px;
    height: 800px;
}

.Store-interior-explanation{
    font-size: 27px;
}

.div.tags{
    text-align: center;
    margin-top: 15px;
}

.tags span{
    border: 1px solid burlywood;
    border-radius: 999px;
    background-color: bisque;
    padding: 6px 16px;
    display: inline-block;
    margin: 0 5px;
    color: saddlebrown;
}

.type-of-dog{
    width: 100%;
    overflow-x: hidden;
    stroke-width: none;
    position: relative;
    margin-top: 200px;
    display: flex;
    align-items: center;
    margin-top: 2px;
    font-family:  "Zen Maru Gothic", sans-serif;
}

.section-title{
    text-align: center;
    border: 1px solid burlywood;
    border-radius: 0px;
    background-color: burlywood;
    margin-top: 500px;
    font-family: "Zen Maru Gothic", sans-serif;
    
}

.type-of-dog::-webkit-scrollbar{
    display: none;
}

.dogs-slider-wrapper{
    display: flex;
   flex-wrap: nowrap;
   width: max-content;
   padding: 20px 0;
}

.dogs-cast{
   width: 80vw;
   height: auto;
   flex-shrink: 0;
   margin: 0 10vw;
}

.dogs-shift{   
    border: 1px solid burlywood;
    border-radius: 999px;
    background-color: burlywood;
    flex-direction: column;
    width: max-content;
    margin: 0 auto;
    padding: 6px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 0.05em;
    color: saddlebrown;
    margin-top: 10px;

}

.shift-text{
    text-align: center;
    font-size: 29px;
    margin-top: 3px;
}

.dogs-slider-wrapper .dogs.cast{
    flex-shrink: 0;
    width: 45vw;
    margin: 0 10px;
    scroll-snap-align: center;
    text-align: center;
}

.dogs-slider-wrapper .dogs{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grand-menu{
    margin-top: -600px;
}

.cafe-menu{
    margin-top: 100px;
    font-family:  "Zen Maru Gothic", sans-serif;
}

.grand-menu-content{
max-width: 1500px;
margin: 0 auto;
padding: 40px;
border: 4px solid #d9c97a;
position: relative;
margin-top: 700px;
text-align: center;
}

.all-menus{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.Recommended-menu{
    margin-top: 30px;
}

.Contact-title{
    position: absolute;
    padding: 12px 15px;
    background: burlywood;
    font-size: 25px;
    font-weight: bold;
    border-radius: 999px;
    color: saddlebrown;
    text-align: center;
   left: 50%;
   transform: translateX(-50%);
   margin-top: 130px;
}

.Recommended-menu-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 200px;
}

.menu{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 30px;
}

.price{
    position: absolute;
    padding: 12px 15px;
    background: burlywood;
    font-size: 15px;
    font-weight: bold;
    border-radius: 999px;
    color: saddlebrown;
    text-align: center;
}

.Cooking-details{
    margin-top: 80px;
    font-size: 18px;
}

.dog-footprints{
    height: auto;
    width: 40px;
    margin-top: 400px;
}

.cop{
    position: absolute;
    bottom: 90px;
    right: 0;
    width: 700px;
    height: auto;
    z-index: -1;
    opacity: 0.5;
}

.dog-footprints{
     position: absolute;
    bottom: 1200px;
    left: 0;
    width: 400px;
    height: auto;
    z-index: -1;
    opacity: 0.5;
}

.Access-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin-top: 100px;
    font-family:"Zen Maru Gothic", sans-serif;
    position: relative;
}

.Access-nav{
    background-color: bisque;
   border-radius: 10px;
   padding: 30px;
   width: 80%;
   max-width: 600px;
   box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
   margin-bottom: 20px;
}

.map{
    width: 100%;
    height: 800px;
    object-fit: cover;
    margin-top: 30px;
}

.Access{
    font-size: 50px;
}

.time{
    margin-top: 40px;
}

.address{
    margin-top: 40px;
}

.train{
    margin-top: 40px;
}

.phone-number{
    margin-top: 40px;
}

.price-title{
    font-size: 50px;
}

.total-price{
    background-color: bisque;
   border-radius: 10px;
   padding: 30px;
   width: 80%;
   max-width: 600px;
   box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.site-footer{
    border-radius: 0px;
    background-color: burlywood;
    padding: 4px 5px;
}

.site-footer-small{
    text-align: center;
    color: saddlebrown;
}

@media (max-width: 768px) {
 
 body {
   font-size: 14px;
   overflow-x: hidden;
   width: 100%;
   overflow-x: hidden;
 }
 .container {
   width: 100%;
   padding: 0;
   overflow-x: hidden;
 }

  .shop-name {
   font-size: 24px;
 }
 
 p, h1, h2, h3 {
   word-break: break-all;
 }
 
 .site-nav {
   flex-direction: row;
   align-items: center;
   gap: 15px;
   flex-wrap: wrap;
 }
 
 .site-header {
   width: 100dvw;
   overflow: hidden;
   background-size: cover;
   background-position: center;
   overflow: hidden;
   margin-left: 0;
   margin-right: 0;
   height: 300px;
 }

 .Store-interior{
    margin-top: 40px !important;
 }

 .heads-up{
    font-size: 16px;
 }
 
 .Recommended-menu-wrapper {
   flex-direction: column;
 }
 .menu {
   width: 100%;
   height: 300px;
   object-fit: cover;
 }

 .type-of-dog{
    overflow-x: scroll;
    overflow-y: visible;
    margin-top: 20px !important;
    
 }
 
 .dogs-slider-wrapper {
   flex-direction: row;
   display: flex;
   flex-wrap: nowrap;
   width: max-content;

 }

 .dogs-cast{
    flex-shrink: 0;
    width: 80vw;
 }

 .dogs-shift{
    font-size: 9px;
 }

 .dogs {
   width: 100%;
 }

 .grand-menu {
   margin-top: 0;
 }

 .grand-menu-content {
   margin-top: 0 !important;
 }
 
 .section-title{
    margin-top: 20px !important;
    width: 100%;
    box-sizing: border-box;

 }

 .all-menus{
    width: 100%;
 }

 .map {
   width: 100%;
   height: auto;
 }

  .rogo {
   width: 200px;
   margin-top: 30px;
 }

  .lead-center {
    position: static;
   font-size: 13px;
   font-weight: bold;
   top: 0;
 }

 .hero{
    margin-top: 20px;
 }

 .reservation {
    position: static;
   top: 0;
   text-align: center;
 }

 .reservation a{
    font-size: 13px;
 }

 .Store-interior{
    margin-top: 90px;
    padding: 20;
 }

 .Store-interior-title{
    font-size: 15px;
    position: absolute;
    top: -60px;
    left: 0;
    width: auto;
    padding: 8px 20px;
 }

 .Store-interior-explanation{
    font-size: 14px;
 }

  .Operating-hours {
   font-size: 16px;
   margin-top: 20px !important;
 }

 .interior {
   width: 100%;
   height: auto;
 }

  .shift-text {
   font-size: 16px;
 }

 .grand-menu {
   margin-top: 0 !important;
   width: 100%;
   box-sizing: border-box;
 }

 .all-menus{
    width: 90vw;
 }

  .cop {
   width: 200px;
 }

  .dog-footprints {
   width: 150px;
   bottom: 0;
   margin-top: -100px;
 }

 .Contact-title{
    font-size: 15px;
 }

 .Recommended-menu-wrapper{
    grid-template-columns: 1fr;
 }

 .price{
    left: 50%;
    transform: translateX(-50%);
 }

 .Cooking-details{
    font-size: 17px;
 }

 .total-price{
    margin-bottom: 0;
 }

.site-footer{
    margin-top: 0;
    padding: 10px;
}
}